<% layout("/layouts/boilerplate.ejs") %>

<body>
    
    <div class="row">
        <div class="alert alert-danger col-6 offset-3" role="alert">
            <h6><%= message %></h6>
          </div>
    </div>
    

</body>