<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new listing...</title>
</head>
<body>
    
    <form action="/listings" method="POST">

        <input type="text" name="title" placeholder="Enter title">
        <textarea name="description"  placeholder="Enter description" cols="30" rows="10"></textarea>
        <input type="text" name="image" placeholder="Enter image url">
        <input type="number" name="price" placeholder="Enter price">
        <input type="text" name="location" placeholder="Enter location">
        <input type="text" name="country" placeholder="Enter country">
        <button>Submit</button>

    </form>

</body>
</html>